body {
    margin: 0;
    padding: 20px;
    text-align: center;
}

#container {
    margin: 0 auto;
    width: 900px;
}

.front img {
    margin: 20px;
    max-height: 600px;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.thumbs {
    height: 60px;
}

.thumbs img {
    margin: 1px;
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
}

.thumbs img.selected {
    opacity: 1;
}
